<div class="page-header">
  <h1>Institutions</h1>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution['name_tesim'].first %></td>
        <td><%= link_to "Show", institution_path(institution['id']) %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_link(Institution) %>
